TIDB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=
TIDB_PASS=
TIDB_DB=
TIDB_CA=./certs/tidb-ca.pem
JWT_SECRET=change-me-32chars
ADMIN_USER=admin
ADMIN_PASS=change-me
PORT=3000
